Makefile
cache/
content-to-be/
develop_server.sh
fabfile.py
fabfile.pyc
output/
pelicanconf.pyc
publishconf.pyc

content/slides/19_mitch_altman/China_Heaven_for_DIY_and_Entrepreneurship_University_of_Warsaw.pptx.7z
content/slides/19_mitch_altman/Hack_Your_Life-Code_For_Poland.pptx.7z
