blinker==1.4
certifi==2022.12.7
chardet==3.0.4
docutils==0.14
fab==1.4.2
feedgenerator==1.9
idna==2.6
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
pelican==3.7.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
yolk==0.4.3
