{% extends "base.html" %}
{% block title %}Archive - {{ SITENAME }}{% endblock %}

{% block content %}
<div>
  <div>  
  {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}  
    <h3>{{ year }}</h3>
    <ul class="list-unstyled">
      {% for article in date_year %}
      <li class="row">
        <div class="col-xs-4 text-muted text-left">
          <p>
            <time datetime="{{ article.date.isoformat() }}" pubdate>
              {{ article.locale_date }}
            </time>
          </p>
        </div>
        <div class="col-xs-8">
          <a href="{{ article.url }}">{{ article.title }}</a>
          {% if article.translations %}
            {% for translation in article.translations %}
              [<a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>]
            {% endfor %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
  </div>
    
</div>
{% endblock %}
