{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}
<div>

{% for article in articles %}

  {% if loop.index <= MAX_POSTS_ON_MAIN %}
  <article class="text-justify">
    <h2 class="text-left">
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </h2>
    {{ article.summary }}
    <p class="text-right">
      <a href="{{ SITEURL }}/{{ article.url }}">
        read more...
      </a>
    </p>
  </article>

  {% if loop.length > MAX_POSTS_ON_MAIN %}
  <div class="wrapper main">    
    <h4>More posts</h4>
    <ul class="list-unstyled">
  {% endif %}
  {% elif loop.index < MAX_POSTS_ON_MAIN + 3 %}
      <li class="row">
        <div class="col-xs-4 text-muted text-left">
          <p>
            <time datetime="{{ article.date.isoformat() }}" pubdate>
              {{ article.locale_date }}
            </time>
          </p>
        </div>
        <div class="col-xs-8">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}">{{ article.title }}</a>
        </div>
      </li>
  {% endif %}
  {% endfor %}
    </ul>


    <br>
    <p>
      More posts in the <a href="{{ SITEURL }}/archives.html">archives</a>.
    </p>
  </div>
</div>
{% endblock content %}
